@import "variable";

.image {
  height: 83vh;
  display: block;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.about {
  background: $darkblue;
  color: #fff;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;

  div {
    margin-left: 20px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0.4em;
  }

  img {
    height: 315px;
    width: 400px;
  }

  p {
    width: 20rem;
    text-align: justify;
  }
}

.status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $deepblue;
  color: #fff;
  padding: 50px;

  div {
    text-align: center;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0.3em;
  }

  p {
    text-transform: uppercase;
    font-size: 12px;
  }

}
