@import "./variable";


.login {
  height: 83.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $deepblue;

  form {
    background: $teal;
    width: 500px;
    display: flex;
    justify-content: center;
    color: $darkblue;
    height: 30rem;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 1px $aqua;

    span {
      color: red;
    }

    input {
      margin-top: 7px;
      border: none;
      padding: 10px;
      border-radius: 12px;
      font-size: 25px;

      &:focus-visible {
        outline: none;
      }
    }

    button[type="submit"] {
      padding: 10px 27px;
      font-weight: 900;
      border: none;
      border-radius: 26px;
      background: $darkblue;
      color: $teal;

      &:hover {
        box-shadow: 10px 10px 40px 1px $deepblue;
      }
    }

    .form_group {
      margin-bottom: 20px;

      label {
        font-size: 19px;
        padding-left: 10px;
        padding-bottom: 2px;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
