@import "variable";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $darkblue;
  padding: 50px;
  font-size: 20px;

}

a {
  text-decoration: none;
  color: $aqua;
}

ul {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }

  li {
    margin: 0 8px;
    list-style: none;
  }
}

.menu {
  color: $aqua;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.cross {
  display: none;

  .active {
    display: block !important;
  }
}

a:hover {
  color: $teal;
}
