@import "variable";

nav {
  //padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $darkblue;
  padding: 50px;
  font-size: 20px;

}

a {
  text-decoration: none;
  color: $aqua;
  //&:hover{
  //  color: $accent
  //}
}

ul {
  display: flex;

  li {
    margin: 0 8px;
    list-style: none;
  }
}

.menu {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.cross {
  display: none;
}

.mobile{
  background: red;
}

.pc{
  //@media screen and (max-width: 768px) {
  //  display: none;
  //}

}
//@media screen and (max-width: 768px) {
//  .pc{
//    display: none;
//  }
//}
